@import '../../../../assets/vendor/libs/dropzone/dropzone.css';


button {
}

  button .fa-spin {
      display: none;
  }

  button.inProgress {
      pointer-events: none;
  }

    button.inProgress .fa-spin {
      display: unset;
    }
