 .card-header {
    background-color: #fffafa;
    color: black;
    padding: 10px;
    border-radius: 5px 5px 0 0;
  }
  
  .card-title {
    font-size: 1.5rem;
  }
  
  
  .text-muted {
    font-size: 0.9rem;
    color: #a5a3ae;
  }
  
  .card-body {
    padding: 20px;
    background-color: #fffafa;
  }
  
  #dropzone-multi {
    border: 2px dashed #dea8ab;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
  }
  
  .dz-message {
    font-size: 1rem;
    color: black;
    margin-top: 55px;
    margin-bottom: 60px;
  }
  
  .note {
    font-size: 0.9rem;
    color: #888;
  }
  .card {
    margin: 20px;
  }
  
 .selected-images {
    padding: 10px;
    background-color: #fffafa;
    border-radius: 5px;
    display: flex;
    overflow-x: auto; 
    max-width: 100%;
  }
  
  .selected-images ul {
    list-style: none;
    padding: 0;
  }
  
  .selected-images li {
    margin-bottom: 5px;
  }
  
  .card-body {
    padding: 20px;
  }

  .btn{
    color:#b43338;
  }
  
  .image-container {
    display: flex;
  }
  
  .image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px; 
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 7px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 4px 4px 4px 4px;
  }
  
  .center-button {
    margin-top: 10px;
  }