<div id="production_capacity-modern" class="content">
  <div class="row g-5">
    <div class="col-md-6">
      <div class="row mt-4">
        <div class="col-sm-6">
          <label class="form-label" for="username-modern">Product Name</label>
          <input type="text" name="username-modern" class="form-control" placeholder="" [(ngModel)]="product.name" />
        </div>

        <div class="col-sm-6">
          <label class="form-label" for="location-modern">Factory Location</label>
          <select class="select2 form-select" name="location-modern" [(ngModel)]="product.factoryLocationId">
            <!-- <option class="select2-selection__placeholder">Select value</option> -->
            <option value="0" label="Select Value"></option>
            <option *ngFor="let location of Locations" value="{{location.id}}">{{location.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-sm-3">
          <label class="form-label" for="">Pieces made/ Hour</label>
          <input type="number" id="" class="form-control" [(ngModel)]="product.piecesPerHour" />
        </div>
        <div class="col-sm-3">
          <label class="form-label" for="">Working hours/ Day</label>
          <input type="number" id="" class="form-control" [(ngModel)]="product.workingHourPerDay" />
        </div>

        <div class="col-sm-3">
          <label class="form-label" for="">Working Days/ Month</label>
          <input type="number" id="" class="form-control" [(ngModel)]="product.workingDaysPerMonth" />
        </div>
        <div class="col-sm-1 mt-4">
          <button type="button" class="btn btn-outline-primary" (click)="calculate_click()">Calculate</button>
        </div>
      </div>
    </div>

    <div class="col-md-6">

      <div class="swiper-container swiper-container-horizontal swiper swiper-card-advance-bg"
        id="swiper-with-pagination-cards">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="row">
              <div class="col-12">
                <h5 class="text-primary mb-0">Production Capacity Analytics</h5>
                <small>Total 28.5% Production Rate</small>
                <img src="assets/img/products/calander.png" alt="" width="" class="card-website-analytics-img" />
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-12 order-2 order-md-1">
                  <div class="row">
                    <div class="col-4">
                      <h6 class=" mt-0 mt-md-3 mb-3">Daily</h6>
                      <ul class="list-unstyled mb-0">
                        <li class="d-flex mb-3 align-items-center">
                          <p class="mb-0 fw-medium me-2 badge rounded bg-label-secondary text-dark p-2 fs-6">
                            {{workingHrDay}}
                          </p>
                          <p class="mb-0">Hours</p>
                        </li>
                        <li class="d-flex align-items-center">
                          <p class="mb-0 fw-medium me-2 badge rounded bg-label-primary p-2 fs-5">
                            {{piecesPerDay}}
                          </p>
                          <p class="mb-0">Pieces</p>
                        </li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <h6 class="mt-0 mt-md-3 mb-3">Monthly</h6>
                      <ul class="list-unstyled mb-0">
                        <li class="d-flex mb-3 align-items-center">
                          <p class="mb-0 fw-medium me-2 badge rounded bg-label-secondary text-dark p-2 fs-6">
                            {{workingHrMonth}}
                          </p>
                          <p class="mb-0">Hours</p>
                        </li>
                        <li class="d-flex align-items-center">
                          <p class="mb-0 fw-medium me-2 badge rounded bg-label-primary p-2 fs-5">
                            {{piecesPerMonth}}
                          </p>
                          <p class="mb-0">Pieces</p>
                        </li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <h6 class="mt-0 mt-md-3 mb-3">Yearly</h6>
                      <ul class="list-unstyled mb-0">
                        <li class="d-flex mb-3 align-items-center">
                          <p class="mb-0 fw-medium me-2 badge rounded bg-label-secondary text-dark p-2 fs-6">
                            {{workingHrYear}}
                          </p>
                          <p class="mb-0">Hours</p>
                        </li>
                        <li class="d-flex align-items-center">
                          <p class="mb-0 fw-medium me-2 badge rounded bg-label-primary p-2 fs-5">
                            {{piecesPerYear}}
                          </p>
                          <p class="mb-0">Pieces</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Multi  -->
    <!--Product image Multi select -->

  </div>
  <div class="row">
    <div class="col-12">
      <div class="">
        <div class="card-header">
          <!-- <h5>Product Image</h5>
          <small class="text-muted">Upload maximum 4 product photos</small> -->
          <div class="head-label d-flex justify-content-between">
            <div>
              <h5 class="card-title mb-0">Product Image</h5>
              <small class="text-muted">Upload maximum four product images</small>
            </div>
          </div>
        </div>

        <!--<div class="card-body">
          <div class="dropzone" id="dropzone-multi">
            <div class="dz-message needsclick" *ngIf="isDzMessageVisible">
              Drop files here or click to upload
            </div>
            <input type="file" id="fileInput" multiple style="display: none;">
            <div class="selected-images" *ngIf="showSelectedImages">
              <div class="image-container">
                <div *ngFor="let url of selectedFileUrls; let i = index">
                  <div class="image-card">
                    <img [src]="url" [style.width]="imageWidth" [style.height]="imageHeight" alt="Image">
                    <div class="file-info">
                      <p>{{ getFileInfo(i).name }}</p>
                      <p>{{ getFileInfo(i).size}}</p>
                    </div>
                    <a href="#" class="btn" (click)="deleteImage(i)">Remove file</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->

        <!-- <div class="card-body">
          <div action="/upload" class="dropzone needsclick" id="dropzone-multi">
            <div class="dz-message needsclick">
              Drop files here or click to upload
              <span class="note needsclick">
                (This is just a demo dropzone. Selected files are
                <span class="fw-medium">not</span> actually uploaded.)
              </span>
            </div>
            <div class="fallback">
              <input name="file" type="file" />
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <div class="row g-3 mt-3">
    <div class="col-12">
      <button class="btn btn-primary btn-next" style="float: right;" (click)="next_click()">
        <i *ngIf="saveInProgress" class="fa fa-spinner fa-spin" style="margin-right: 10px;"></i>
        <span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span>
        <i class="ti ti-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
