<nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
  <div class="container-fluid">
    <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-5">
      <a href="products.html" class="app-brand-link gap-2">
        <span class="app-brand-logo">
          <img src="assets/img/logo/sujata.png" alt="Sujata" width="130">
        </span>
        <span class="app-brand-text demo menu-text fw-normal">Product Strategy</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
        <i class="ti ti-x ti-sm align-middle"></i>
      </a>
    </div>
    <aside class="menu-horizontal-wrapper  layout-menu-horizontal menu menu-horizontal container-fluid flex-grow-0 bg-menu-theme">
      <ul class="menu-inner" style="margin-left: 0px;">

        <!-- Layouts -->
        <li class="menu-item me-3" [routerLinkActive]="'active'">
          <a routerLink="/products" class="menu-link">
            <i class="menu-icon tf-icons ti ti-files"></i>
            Products
          </a>
        </li>

        <!-- Apps -->
        <li class="menu-item" [routerLinkActive]="'active'">
          <a routerLink="/configuration" class="menu-link">
            <i class="menu-icon tf-icons ti ti-settings"></i>
            Configuration
          </a>

        </li>




      </ul>
    </aside>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
      <ul class="navbar-nav flex-row align-items-center ms-auto">


        <!-- User -->
        <li class="nav-item navbar-dropdown dropdown-user dropdown">
          <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
            <div class="avatar avatar-online">
              <img src="assets/img/avatars/1.png" alt class="h-auto rounded-circle" />
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="#">
                <div class="d-flex">
                  <div class="flex-shrink-0 me-3">
                    <div class="avatar avatar-online">
                      <img src="assets/img/avatars/1.png" alt class="h-auto rounded-circle" />
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <span class="fw-medium d-block">John Doe</span>
                    <small class="text-muted">Admin</small>
                  </div>
                </div>
              </a>
            </li>


            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li>
              <a class="dropdown-item" href="#" target="_blank">
                <i class="ti ti-logout me-2 ti-sm"></i>
                <span class="align-middle">Log Out</span>
              </a>
            </li>
          </ul>
        </li>
        <!--/ User -->
      </ul>
    </div>

    <!-- Search Small Screens -->
    <!-- <div class="navbar-search-wrapper search-input-wrapper container-xxl d-none">
      <input
        type="text"
        class="form-control search-input border-0"
        placeholder="Search..."
        aria-label="Search..." />
      <i class="ti ti-x ti-sm search-toggler cursor-pointer"></i>
    </div> -->
  </div>
</nav>
